/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

footer{
  /* position: fixed; */
  background: #140B5C;
  width: 100%;
  /* bottom: 0;
  left: 0; */
}

footer .content{
  /* max-width: 1250px;
  margin: auto; */
  padding: 30px 40px 40px 40px;
}
footer .content .link-boxes{
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}
.lorem {
  width: 40%;
  color: #fff;
  padding-right: 50px;
}
.lorem p{
  color:rgb(194, 179, 179);
}
.lorem li{
  margin: 6px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
  /* text-align: center; */
  list-style: none;
}
.lorem li::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}

/* .dot{
  padding: 0;
  margin: 0;
  text-decoration: none;  

} */
footer .content .link-boxes .box1{
  width: calc(100% / 5 - 10px);
  
} 
.content .link-boxes .box1 .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box1 .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box1 li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box1 li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box1 li a:hover{
  opacity: 1;
  text-decoration: underline;
}
footer .bottom-details{
  width: 100%;
  background: #0F0844;
  
}
footer .bottom-details .bottom_text{
  /* height: 8vh; */
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  
}


/* .flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
} */

